@model LoanApplication
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
//http://thecodeplayer.com/walkthrough/jquery-multi-step-form-with-progress-bar
    <div class="container">
        <div class="col-md-5">
            <div class="form-horizontal">
                <h4>Loan Application</h4>

                @Html.ValidationSummary(true)

                @Html.FormGroupFor(model => model.FirstName)
                @Html.FormGroupFor(model => model.Amount)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input id="applyCommand" type="submit" value="Apply" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-horizontal">
                <h4>Next pay day</h4>
                @*@Html.EditorFor(x => x.Remuneration)*@
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}



